/*
 * Empty Stylesheet file.
 */

.anchorhead{
    -fx-background-color: #fff;
    -fx-border-color: black;
    -fx-border-width: 2px;
}
.search{
  -fx-background-color: none;
  -fx-border-color: none;
  -fx-text-fill:black;
  -fx-font-size:17px;
  -fx-font-weight:bold;
}
.text{
    -fx-text-fill:#fff;
  -fx-font-size:18px;
    -fx-font-weight:bold;
}
.lable{
     -fx-background-color: none;
  -fx-border-color: none;
  -fx-text-fill:black;
  -fx-font-size:19px;
  -fx-font-weight:bold;
}
.textarea{
   -fx-background-color: none;
  -fx-border-color: black;
-fx-border-width: 2px;
-fx-text-fill:black;
-fx-text-alignment: center;
  -fx-font-size:18px;
  -fx-font-weight:bold;

}
.header{
    -fx-background-color: none;
  -fx-border-color: none;
  -fx-text-fill:black;
  -fx-font-size:16px;
  -fx-font-weight:bold;
}
.close{
    -fx-background-color: none;
  -fx-border-color: none;
  -fx-text-fill:blue;
  -fx-font-size:13px;
  -fx-font-weight:bold;
}
.print{
     -fx-background-color: blue;
  -fx-border-color: white;
  -fx-text-fill:#fff;
  -fx-border-width: 2px;
  -fx-font-size:11px;
  -fx-font-weight:bold;
  -fx-border-radius: 9px;
  -fx-background-radius: 9px;
}
.dan{
    
  .date-picker .text-field{

-fx-font-size: 23px;
-fx-text-fill: #fff;
    
}
.date-picker .cell{
    -fx-font-size:17px;
    -fx-background-color:white;
    -fx-text-fill: black;
}
.date-picker .cell:focused {
-fx-background-color:blue;
-fx-font-size:13px;
-fx-pref-width:20px ;
-fx-pref-height:25px ;
 }
.date-picker .arrow-button{
-fx-background-radius:2px ;
-fx-background-color: none;
}
.date-picker .button {
-fx-background-color: none;
-fx-border-color:none;
-fx-pref-height: 30px;
-fx-pref-width: 30px;
-fx-font-size: 12px;
 }
 .date-picker .button:hover {
-fx-border-color:red;
-fx-pref-height: 35px;
-fx-pref-width: 35px;
 }
 .date-picker-popup  {
-fx-border-color:black;
-fx-border-width: 2px;
-fx-background-color: white;
 }
}