/*
 * Empty Stylesheet file.
 */

.text-field{
    -fx-text-fill:black;
    -fx-font-size:15px;
    -fx-font-weight:bold;
}
.label{
     -fx-text-fill:red;
    -fx-font-size:12px;
    -fx-font-weight:bold;
}
.btn{
    -fx-background-color: blue;
  -fx-border-color: white;
  -fx-text-fill:#fff;
  -fx-border-width: 2px;
  -fx-font-size:16px;
  -fx-font-weight:bold;
  -fx-border-radius: 9px;
  -fx-background-radius: 9px;
}
.non{
    -fx-border-color: black;
    -fx-border-width: 2px;
}
.name{
    -fx-text-fill:black;
    -fx-font-size:15px;
    -fx-font-weight:bold;
}
.close{
    -fx-text-fill:white;
    -fx-font-size:15px;
   -fx-font-weight:bold;
   -fx-background-color: none;
}
